dataset/
!dataset/forecasting/ETTh1.csv
!dataset/forecasting/ETTh2.csv
!dataset/forecasting/ETTm1.csv
!dataset/forecasting/ETTm2.csv
!dataset/forecasting/FORECAST_META.csv

result/
.idea/
.vscode/
.git
*.DS_Store
venv/
**/__pycache__/